

    <div class="name">
      <%= f.label :name %>
      <%= f.text_field :name %>

    </div>

    <div class="name">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="control-group">
      <%= f.label "Assign to", class:'control-label' %>
      <div class="controls">

        <%=f.select(:assign_id, options_for_select(
            User.all.map do |u|
              [u.name, u.id]
            end)) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Status", class:'control-label' %>
      <div class="controls">
        <%=f.select(:status, options_for_select(Task.statuses.map { |status| [status.first, status.first]}))  %>
      </div>
    </div>



    <%= hidden_field_tag(:parent_id, params[:parent_id]) %>

    <%= f.submit "Submit" %>

