

<h1> task name: <%= @task.name %></h1>

<p> task description: <%= @task.description %> </p>

<p> task status: <%= @task.status %> </p>

<p> assign to: <%=  User.find(@task.assign).name %> </p>



<p> <%= link_to("Create a subtask", new_task_path(parent_id:@task.id )) %> </p>
<p> <%= link_to("Delete task", task_path,method: "delete") %> </p>
<p> <%= link_to("link to all task", tasks_path) %> </p>

