  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@user)do |f| %>


          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control'%>


          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>



          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>



          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>

          <% if  @current_user.present?%>
            <div class="name">
              <b>Role</b><br />

              <% Role.all.each do |role| %>

                  <%= check_box_tag("role[]",role.id,@user.is_role?(role.name))%>
                  <%=role.name%> <br>
              <% end %>
            </div>
          <% end%>

        <div class="errors">
        <% if @user.errors.any?%>
            <h2>Errors: </h2>
            <ul>
              <% @user.errors.full_messages.each do |message|%>
                  <li><%= message %> </li>
              <% end%>
            </ul>
        <%end%>
        </div>


        <%= f.submit "Submit", class: "btn btn-primary" %>

    <% end %>
  </div>
