<%= form_for(@user)do |f| %>

    <div class="name">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>


    <div class="name">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="name">
      <b>Role</b><br />

      <% Role.all.each do |role| %>

        <%= check_box_tag("role[]",role.id,@user.is_role?(role.name))%>
          <%=role.name%> <br>
      <% end %>


    </div>


    <%= f.submit "Submit" %>
<% end %>