<!DOCTYPE html>
<html>
  <head>
    <title>SemiTaskManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if session[:user_id] != nil  %>
  <p>Bonjour <%= User.find(session[:user_id]).name%> </p>
  <%end %>

  <% if session[:user_id] != nil  %>
  <%= link_to("Disconnect", session_path(session),method: "delete") %>
  <%end %>



    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>


    <%= yield %>
  </body>
</html>
